<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="text">
            <name>listingTemplate</name>
            <label>Box Template</label>
            <value>4column</value>
            <description>Welches Template für die Artikelboxen soll angezeigt werden? Gültige Angaben: 4column, 5column</description>
        </element>

        <element type="number">
            <name>listingLimit</name>
            <label>Artikel pro Seite</label>
            <value>30</value>
            <description>Wie viele Artikel sollen standardmäßig pro Seite angezeigt werden?</description>
        </element>

        <element type="number">
            <name>newConditionDays</name>
            <label>Artikel als Neu markiert</label>
            <value>30</value>
            <description>Wie alt (in Tagen) darf ein Artikel maximal sein, damit er als Neu markiert wird?</description>
        </element>

        <element type="boolean">
            <name>hasPseudoPrice</name>
            <label>Pseudopreis Filter aktivieren</label>
            <value>true</value>
            <description>Soll der Pseudopreis Filter aktiviert werden?</description>
        </element>

        <element type="boolean">
            <name>searchStatus</name>
            <label>Volltextsuche Filter aktivieren</label>
            <value>true</value>
            <description>Soll der Volltextsuche Filter aktiviert werden?</description>
        </element>

        <element type="boolean">
            <name>shopwareSearchStatus</name>
            <label>Shopware standard Suche aktivieren</label>
            <value>false</value>
            <description>Soll die Shopware standard Suche für die Volltextsuche aktiviert werden?</description>
        </element>

    </elements>
</config>